<template>
    <div :class="['svgIcon', {active: active},{inheritIconColor: inheritIconColor}]"
         :style="cssVars">
        <SimpleSVG
            :src="iconPath"
        />
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    // @ts-ignore
    import {SimpleSVG} from 'vue-simple-svg';

    export const ICONS_PATH = './icons';
    export const DEFAULT_COLOR = '#2d3448';

    export default Vue.extend({
        components: {
            SimpleSVG,
        },
        props: {
            name: {
                type: String,
                required: true,
            },
            color: {
                type: String,
                default: DEFAULT_COLOR,
            },
            hoveredColor: {
                type: String,
                default: DEFAULT_COLOR,
            },
            activeColor: {
                type: String,
                default: DEFAULT_COLOR,
            },
            active: {
                type: Boolean,
                default: false,
            },
            inheritIconColor: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                DEFAULT_COLOR: DEFAULT_COLOR,
            };
        },
        computed: {
            iconPath(): string {
                return `${ICONS_PATH}/${this.name}.svg`;
            },
            cssVars(): any {
                return {
                    '--icon-color': this.color,
                    '--hovered-icon-color': this.hoveredColor,
                    '--active-icon-color': this.activeColor,
                };
            },
        },
        watch: {},
        methods: {},
    });
</script>

<style scoped lang="scss">
    @import "svgIcon";
</style>
