.svgIcon {
  display: inline-flex;
  cursor: pointer;

  &:not(.inheritIconColor) {
    &::v-deep {
      svg {
        path {
          &[stroke] {
            stroke: var(--icon-color);
          }

          &[fill] {
            fill: var(--icon-color);
          }
        }
      }
    }

    &:hover {
      &::v-deep {
        svg {
          path {
            &[stroke] {
              stroke: var(--hovered-icon-color);
            }

            &[fill] {
              fill: var(--hovered-icon-color);
            }
          }
        }
      }
    }

    &.active {
      &::v-deep {
        svg {
          path {
            &[stroke] {
              stroke: var(--active-icon-color);
            }

            &[fill] {
              fill: var(--active-icon-color);
            }
          }
        }
      }
    }
  }

}
