<template>
    <div>
        <SvgIcon name="advertising_outline_24" inherit-icon-color/>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'
    import SvgIcon from "../components/svgIcon/SvgIcon.vue";

    export default Vue.extend({
        components: {SvgIcon},
        props: {},
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });
</script>

<style scoped lang="scss">

</style>
