<template>
    <div id="app">
        <TestComponent/>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import TestComponent from "@/components/TestComponent.vue";

    export default Vue.extend({
        name: 'App',
        components: {
            TestComponent
        }
    });
</script>

<style lang="scss">
</style>
